img {
  border:       2px solid WhiteSmoke;
  border-style: outset;
}

a:link {
  color: Silver
}

a:visited {
  color: Silver;
}

a:hover {
  color: #ffcc99;
  text-decoration: none;
}

a:active {
  color: Silver;
}

html, body {
    height: 100%;
}

body {
    margin:  0px;
    padding: 0px;
}

.wrap {
    height:     auto;
    margin:     0 auto -80px;
    min-height: 100%;
    padding:    0 0 80px;
    box-sizing: border-box;
    overflow:   auto;
}

.footer {
    position:    relative;
    padding-top: 20px;
    display:     block;
    margin-top:  20px;
    box-sizing:  border-box;
    max-width:   100%;
}

.title {
    display: none;
}

.apa {
    padding-left: 0.5in;
    text-indent: -0.5in;
}